<!-- <div class="project-overlay">
    <div class="project-container">
        <div class="close-overlay">
            <img (click)="closeOverlay()" src="./assets/icons/close_small.svg" alt="">
        </div>

        <div class="project-info-box">
            <div class="project-box-header">
                <div class="project-number">01</div>
                <div class="project-title">Join</div>
            </div>
            <div class="project-box-content">
                <div class="overlay-headline">What is this project about?</div>
                <div class="overlay-info">Text</div>
                <div class="overlay-languages">languages</div>
            </div>
            <div class="button-box">
                <button (mouseenter)="triggerShake('github')"
                (mouseleave)="triggerOffShake('github')">
                    <span id="github" [class.shake]="shakeGithub">Github</span>
                    <img src="./assets/icons/arrow_outward.svg" alt="">
                </button>
                <button (mouseenter)="triggerShake('live-test')"
                (mouseleave)="triggerOffShake('live-test')">
                    <span id="live-test" [class.shake]="shakeLiveTest">Live Test</span>
                    <img src="./assets/icons/arrow_outward.svg" alt="">
                </button>
            </div>
        </div>
        
        <div>
            <img src="./assets/img/pollo-test.svg" alt="">
        </div>

        <div class="next">
            <span>Next project</span>
            <img src="./assets/icons/arrow-right.svg" alt="">
        </div>
    </div>
</div> -->

<div class="project-overlay">
  <div class="project-container">
    <div class="close-overlay">
      <img
        (click)="closeOverlay()"
        src="./assets/icons/close_small.svg"
        alt=""
      />
    </div>

    <div class="project-info-box">
      <div class="project-box-header">
        <div class="project-number">index</div>
        <div class="project-title">{{ project.title }}</div>
      </div>

      <div class="project-box-content">
        <div class="overlay-headline">What is this project about?</div>
        <div class="overlay-info">{{ project.description }}</div>
        <div class="overlay-languages">
          @for (tech of project.technologies; track tech) {
          {{ tech
          }}<span *ngIf="tech !== project.technologies.at(-1)"> | </span>
          }
        </div>
      </div>

      <div class="button-box">
        <a href="">
          <button
            (mouseenter)="triggerShake('github')"
            (mouseleave)="triggerOffShake('github')"
          >
            <span id="github" [class.shake]="shakeGithub">Github</span>
            <img src="./assets/icons/arrow_outward.svg" alt="" />
          </button>
        </a>

        <a href="">
          <button
            (mouseenter)="triggerShake('live-test')"
            (mouseleave)="triggerOffShake('live-test')"
          >
            <span id="live-test" [class.shake]="shakeLiveTest">Live Test</span>
            <img src="./assets/icons/arrow_outward.svg" alt="" />
          </button>
        </a>
      </div>
    </div>

    <!-- <div class="overlay-img"> -->
      <img class="overlay-img" [src]="project.image" alt="" />
    <!-- </div> -->

    <div class="next">
      <span>Next project</span>
      <img src="./assets/icons/arrow-right.svg" alt="" />
    </div>
  </div>
</div>
