.project-overlay {
  position: fixed; /* Über dem gesamten Viewport */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6); /* Abdunkelung */
  z-index: 5; /* Sehr hoch, damit es über allem liegt */
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
  overflow: hidden;
}

.project-container {
  max-width: 1248px;
  width: 100%;
  padding: 96px 80px;
  box-sizing: border-box;
  background-image: linear-gradient(to left bottom, #08463b 10%, #1c1c1c 60%);
  border: 1px solid #3dcfb6;
  border-radius: 30px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.close-overlay {
  position: absolute;
  top: 48px;
  right: 80px;
  z-index: 6;
  cursor: pointer;
}

.close-overlay img {
  //   transition: filter 0.3s ease, transform 0.3s ease-out;
  transition: filter 0.2s ease, transform 0.2s cubic-bezier(0.33, 1, 1, 1);
}

.close-overlay img:hover {
  filter: brightness(0) saturate(100%) invert(70%) sepia(67%) saturate(372%)
    hue-rotate(116deg) brightness(100%) contrast(93%);
  transform: scale(1.3);
}

.project-info-box {
  width: 480px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.project-box-header {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-weight: 700;
  letter-spacing: -3%;
}

.project-number {
  font-size: 128px;
  line-height: 100%;
  color: #3dcfb6;
}

.project-title {
  font-family: "Fira Code", Arial, sans-serif;
  font-size: 64px;
  line-height: 80%;
}

.project-box-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.overlay-headline {
  font-family: "Fira Code", Arial, sans-serif;
  font-size: 24px;
  color: #3dcfb6;
}

.overlay-info {
  font-size: 18px;
}

.overlay-languages {
    display: flex;
    gap: 20px;
}

.overlay-tech-icon {
    display: flex;
    align-items: center;
    gap: 4px;
}

.overlay-tech-icon img {
    width: 24px;
    height: 24px;
    filter: brightness(0) saturate(100%) invert(70%) sepia(67%) saturate(372%)
    hue-rotate(116deg) brightness(100%) contrast(93%);
}

.button-box {
  display: flex;
  gap: 32px;
}

a {
    text-decoration: none;
}

button {
  height: 48px;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  border-radius: 100px;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  background-color: transparent;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  transition: border-color 0.3s ease, color 0.3s ease;

  &:hover {
    border-color: #3dcfb6;
    color: #3dcfb6;
  }
}

button span {
  display: inline-block;
  transition: color 0.3s ease;
}

// @keyframes shake {
//   0% {
//     transform: translateY(0);
//   }
//   50% {
//     transform: translateY(1px);
//   }
//   100% {
//     transform: translateY(0px);
//   }
// }

// #github.shake {
//   animation: shake 0.2s;
// }
// #live-test.shake {
//   animation: shake 0.2s;
// }

button img {
  width: 20px;
  height: 20px;
  filter: brightness(0) saturate(100%) invert(64%) sepia(67%) saturate(372%)
    hue-rotate(116deg) brightness(97%) contrast(93%);
  transition: transform 0.2s ease;
}

button:hover img {
  transform: translate(4px, -2px);
}

.overlay-img {
    width: 100%;
    max-width: 520px;
    height: 100%;
    aspect-ratio: auto;
    border-radius: 30px;
    flex-grow: 1;
}

.next {
  position: absolute;
  bottom: 48px;
  right: 80px;
  color: #3dcfb6;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: #ffffff;
  }
}

.next img {
  filter: brightness(0) saturate(100%) invert(70%) sepia(67%) saturate(372%)
    hue-rotate(116deg) brightness(110%) contrast(100%);
  //   transition: filter 0.3s ease, transform 0.3s ease-out;
  transition: filter 0.3s ease, transform 0.3s cubic-bezier(0.33, 1, 1, 1); /* easeOut timing für abruptes Ende */
}

.next:hover img {
  transform: translate(4px, 0px) scale(1.08);
}

@media(max-width: 1200px) {
  .project-overlay .project-container {
    max-width: calc(100vw - 32px);
    padding: 80px 16px;
    flex-direction: column-reverse;
    gap: 32px;
  }

  .project-info-box {
    width: 100%;
    max-width: 520px;
  }
}

@media (max-width: 1000px) {
  .project-container {
    border-radius: 16px;
  }

  .close-overlay {
    top: 32px;
    right: 32px;
  }

  .project-info-box {
    gap: 32px
  }

  .project-box-header {
    gap: 8px;
  }

  .project-number {
    font-size: 72px;
  }

  .project-title {
    font-size: 56px;
  }

  .overlay-headline {
    font-size: 20px;
  }

  .overlay-info {
    font-size: 16px;
  }

  .overlay-languages {
    flex-wrap: wrap;
    gap: 16px;
  }

  .button-box {
    gap: 32px;
  }

  .next {
    bottom: 32px;
    right: 16px;
  }

  .overlay-img {
    border-radius: 16px;
}
}

@media(max-width: 400px) {
  .button-box {
    gap: 16px;
  }
}