<div class="background">
    <div class="header-container">
        <app-menu class="menu"></app-menu>
        <app-menu-mobile class="menu-mobile"></app-menu-mobile>
    
        <div class="header-content">
            <div class="header-left">
                <div class="icon-box">
                    <img src="./assets/icons/Vector 8.svg" alt="">
                </div>
                <div class="line-left"></div>
            </div>
        
            <div class="header-right">
                <div class="mail desktop-only">carlahoffmann&#64;gmx.de</div>
                <div class="links">
                    <div class="mobile-only">
                        <a href="#contact">
                            <img src="./assets/icons/mail.svg" alt="">
                        </a>
                    </div>
                    
                    <a href="https://github.com/CarlaHoffmann" target="_blank" rel="noopener noreferrer">
                        <img src="./assets/icons/github.svg" alt="">
                    </a>
                    <a href="https://de.linkedin.com/in/carla-hoffmann-7b310b153?" target="_blank" rel="noopener noreferrer">
                        <img src="./assets/icons/linkedin.svg" alt="">
                    </a>
                </div>
                <div class="line-right"></div>
            </div>
        
            <div class="header">
                <h3>{{ t.frontendDev }}</h3>
                <div class="inner-header">
                    <h1>Carla Hoffmann</h1>
                    <div class="btn-container">
                        <a href="#projects">
                            <app-slide-btn text="{{ t.checkMyWork }}"></app-slide-btn> 
                        </a>
                        <a href="#contact">
                            <app-slide-btn text="{{ t.contactMe }}"></app-slide-btn>
                        </a>
                    </div>
                </div>
            </div>
        
            <div class="banner">
                <div class="banner-content">
                    <div>{{ t.openToWork }}</div>
                    <div>·</div>
                    <div>{{ t.availableRemote }}</div>
                    <div>·</div>
                    <div>{{ t.frontendDev }}</div>
                    <div>·</div>
                    <div>{{ t.basedIn }}</div>
                    <div>·</div>
        
                    <div>{{ t.openToWork }}</div>
                    <div>·</div>
                    <div>{{ t.availableRemote }}</div>
                    <div>·</div>
                    <div>{{ t.frontendDev }}</div>
                    <div>·</div>
                    <div>{{ t.basedIn }}</div>
                    <div>·</div>
                </div>
            </div>
        </div>
        
    </div>
</div>
