<div class="header-container">
    <app-menu class="menu"></app-menu>

    <div class="inner-header-container">
        <div class="header-left">
            <div class="border">
                <img src="./assets/icons/Vector 8.svg" alt="">
            </div>
            <div class="line-left"></div>
        </div>

        <div class="header">
            <h3>Frontend Developer</h3>
            <div class="inner-header">
                <h1>Carla Hoffmann</h1>
                <div class="btn-container">
                    <app-slide-btn text="Check my work"></app-slide-btn> 
                    <app-slide-btn text="Contact me"></app-slide-btn>
                </div>
            </div>
        </div>

        <div class="header-right">
            <div class="mail">carlahoffmann&#64;gmx.de</div>
            Links
            <div class="line-right"></div>
        </div>

        <div class="banner">
            <div class="banner-content">
                <div>Open to work</div>
                <div>·</div>
                <div>Available for remote work</div>
                <div>·</div>
                <div>Frontend Developer</div>
                <div>·</div>
                <div>Based in Chemnitz</div>
                <div>·</div>

                <div>Open to work</div>
                <div>·</div>
                <div>Available for remote work</div>
                <div>·</div>
                <div>Frontend Developer</div>
                <div>·</div>
                <div>Based in Chemnitz</div>
                <div>·</div>
            </div>
            
        </div>
    </div>
    
    
</div>