    <div class="footer-container">
        <div class="inner-footer-container">
            <div class="footer-left">
                <app-logo class="logo"></app-logo>
                <app-logo-initials class="logo-initials"></app-logo-initials>
                
                <div class="personal-info">
                    <span>Web Developer</span>
                    <span>Chemnitz Germany</span>
                </div>
            </div>
        
            <div class="footer-right">
                <a href="https://github.com/CarlaHoffmann">Github</a>
                <a href="https://de.linkedin.com/in/carla-hoffmann-7b310b153?">LinkedIn</a>
                <a href="#contact">Email</a>
                <a href="legal-notice">Legal Notice</a>
            </div>
        </div>
        

        <div class="copyright">
            <span>© Carla Hoffmann 2025</span>
        </div>
    </div>