<div id="about-me" class="component-container">
    <div class="inner-component-container">
        <div class="image-wrapper">
            <div class="img-shadow"></div>
            <img class="pic" src="./assets/photos/DSC_2759-sw3.JPG" alt="">
        </div>
        

        <div class="text-container">
            <h2>{{ t.whoIAm }}</h2>
            <div class="text-box">
                <h1>{{ t.aboutMe }}</h1>

                <div class="info-box">
                    <div class="info">{{ t.intro }}</div>
                    <div class="text-components">
                        <div class="text-component">
                            <img src="./assets/icons/about-me1.svg" alt="">
                            <div>{{ t.based }}</div>
                        </div>
                        
                        <div class="text-component">
                            <img src="./assets/icons/about-me2.svg" alt="">
                            <div>{{ t.openMinded }}</div>
                        </div>
                    
                        <div class="text-component">
                            <img src="./assets/icons/about-me3.svg" alt="">
                            <div>{{ t.problemSolving }}</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>