<div class="container">
    <form (ngSubmit)="onSubmit()">
        <label for="name">Name</label>
        <input [(ngModel)]="contactData.name" id="name" name="name" type="text" placeholder="Your name...">

        <label for="email">Email</label>
        <input [(ngModel)]="contactData.email" id="email" name="email" type="text" placeholder="Your mail...">

        <label for="message">Subject</label>
        <textarea [(ngModel)]="contactData.message" name="message" id="message" placeholder="Write something..."></textarea>
        <input type="submit" value="Submit">
    </form>
</div>
