<div class="projects-container">
    <div class="inner-projects-container">

        <div class="header">
            <span>Portfolio</span>
            <h1>Featured Projects</h1>   
        </div>

        <span class="info">Explore a selection of my work here - Interact with projects to see my skills in action.</span>

        <div>
            <div class="project">
                <span class="project-title">Join</span>
                <span class="languages">Angular | TypeScript | HTML | CSS | Firebase</span>
            </div>
            <div class="project">
                <span class="project-title">El Pollo Loco</span>
                <span class="languages">HTML | CSS | JavaScript</span>
            </div>
            <div class="project">
                <span class="project-title">DA Bubble</span>
                <span class="languages">Angular | Firebase | TypeScript</span>
            </div>
        </div>

    </div>
</div>
