<div class="projects-container">
    <div class="inner-projects-container">

        <div class="header">
            <span>Portfolio</span>
            <h1>Featured Projects</h1>   
        </div>

        <span class="info">Explore a selection of my work here - Interact with projects to see my skills in action.</span>

        <div class="project-list">
            <div class="project">
                <span class="project-title">Join</span>
                <span class="languages">Angular <span class="green">|</span> TypeScript <span class="green">|</span> HTML <span class="green">|</span> CSS <span class="green">|</span> Firebase</span>
                
                <div class="project-image-wrapper">
                    <div class="project-shadow"></div>
                    <div class="project-image" style="background-image: url('./assets/img/pollo-test.svg');"></div>
                </div>
            </div>

            <div class="project">
                <span class="project-title">El Pollo Loco</span>
                <span class="languages">HTML <span class="green">|</span> CSS <span class="green">|</span> JavaScript</span>
                
                <div class="project-image-wrapper">
                    <div class="project-shadow"></div>
                    <div class="project-image" style="background-image: url('./assets/img/pollo-test.svg');"></div>
                </div>
            </div>

            <div class="project">
                <span class="project-title">DA Bubble</span>
                <span class="languages">Angular <span class="green">|</span> Firebase <span class="green">|</span> TypeScript</span>

                <div class="project-image-wrapper">
                    <div class="project-shadow"></div>
                    <div class="project-image" style="background-image: url('./assets/img/pollo-test.svg');"></div>
                </div>
            </div>
        </div>

    </div>
</div>
