<div class="component-container">
    <div class="inner-component-container">

        <img src="./assets/photos/Photo.svg" alt="">
        <div class="text-container">
            <span>Who I Am</span>
            <div class="text-box">
                <h1>About me</h1>

                <div class="info-box">
                    <div class="info">Hey there, I'm Carla! Write some information about yourself that is IT related. Why are you passionate about coding? What is your source of inspiration for improving your programming skills?</div>
                    <div class="text-components">
                        <div class="text-component">
                            <img src="./assets/icons/about-me1.svg" alt="">
                            <div>
                                Where are you based? Would you be open to working remotely or potentially relocating?
                            </div>
                        </div>
                        
                        <div class="text-component">
                            <img src="./assets/icons/about-me2.svg" alt="">
                            <div>
                                Show that you are open-minded. Are you enthusiastic about learning new technologies and continually improving your skills?
                            </div>
                        </div>
                    
                        <div class="text-component">
                            <img src="./assets/icons/about-me3.svg" alt="">
                            <div>
                                A brief description of your problem-solving approach. 
                                Do you learn from each challenge as you search for the most efficient or elegant solution? You can include some keywords like: analytical thinking, creativity, persistence and  collaboration.
                            </div>
                        </div>
                        
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
