<div id="about-me" class="component-container">
    <div class="inner-component-container">
        <div class="image-wrapper">
            <div class="img-shadow"></div>
            <img class="pic" src="./assets/photos/Photo.svg" alt="">
            <!-- <div class="project-image" style="background-image: url('./assets/img/pollo-test.svg');"></div> -->
        </div>
        

        <div class="text-container">
            <span>Who I Am</span>
            <div class="text-box">
                <h1>About me</h1>

                <div class="info-box">
                    <div class="info">Hey there, I'm Carla! 
                        <!-- Write some information about yourself that is IT related. Why are you passionate about coding? What is your source of inspiration for improving your programming skills? -->
                        <!-- Coding excites me because it’s both logical and creative. I love that I can bring my own ideas to life, experiment, and see the outcome right away. It’s incredibly satisfying to solve problems and continuously learn something new. -->
                        Hey there, I'm Carla! Coding excites me because it’s both logical and creative. I love bringing ideas to life and seeing results right away.
                    </div>
                    <div class="text-components">
                        <div class="text-component">
                            <img src="./assets/icons/about-me1.svg" alt="">
                            <div>
                                <!-- Where are you based? Would you be open to working remotely or potentially relocating? -->
                                <!-- I am currently based in Chemnitz and prefer to stay here. While I value the flexibility and efficiency that remote work offers and am open to such opportunities, I am also happy to discuss other working arrangements that allow me to contribute effectively. -->
                                I’m based in Chemnitz and prefer to stay here. I value the flexibility of remote work and am open to such opportunities, but I’m also happy to discuss other working models.
                            </div>
                        </div>
                        
                        <div class="text-component">
                            <img src="./assets/icons/about-me2.svg" alt="">
                            <div>
                                <!-- Show that you are open-minded. Are you enthusiastic about learning new technologies and continually improving your skills? -->
                                <!-- I’m always eager to learn new technologies and improve my skills. The IT field is constantly changing, and I enjoy staying up to date and experimenting with new approaches. I believe that open-mindedness and adaptability are essential for personal and professional growth. -->
                                I’m eager to learn new technologies and keep my skills up to date. Open-mindedness and adaptability are important to me.
                            </div>
                        </div>
                    
                        <div class="text-component">
                            <img src="./assets/icons/about-me3.svg" alt="">
                            <div>
                                <!-- A brief description of your problem-solving approach.  -->
                                <!-- Do you learn from each challenge as you search for the most efficient or elegant solution? You can include some keywords like: analytical thinking, creativity, persistence and  collaboration. -->
                                <!-- When faced with a challenge, I approach it analytically and creatively. I enjoy breaking down complex problems, brainstorming solutions, and collaborating with others. Persistence is key—I see every obstacle as a learning opportunity and always strive for the most efficient and elegant solution. -->
                                I tackle challenges with analytical thinking, creativity, and persistence. I see every problem as a chance to learn and enjoy collaborating on efficient solutions.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
