<div id="contact" class="contact-container">
    <div class="inner-contact-container">
        <div class="component-intro">
            <div class="component-header">
                <h2>{{ t.contactMe }}</h2>
                <h1 [innerHTML]="t.letsWork"></h1>
            </div>

            <div class="component-info">
                <h3>{{ t.gotAProblem }}</h3>
                <div [innerHTML]="t.info"></div>
            </div>
        </div>

        <div class="contactform">
            <form (ngSubmit)="onSubmit(contactform)" #contactform="ngForm">
                <div>
                    <label class="contactform-section" for="name"
                        (mouseenter)="triggerShake('name')"
                        (mouseleave)="triggerOffShake('name')">
                        <h2 class="green">{{ t.whatsYourName }}</h2>
                        <input
                            #name="ngModel" 
                            minlength="3"
                            [(ngModel)]="contactData.name"
                            id="name"
                            name="name"
                            type="text"
                            placeholder="{{ t.namePlaceholder }}"
                            required
                            [style.display]="showNameInput ? 'block' : 'none'"
                            [class.shake]="shakeName"
                        >
                        
                        @if (!name.valid && !name.disabled && formSubmitted && !showNameInput) {
                            <span class="warning red" style="cursor:pointer" (click)="showNameInput = true">
                                {{ t.nameWarning }}
                            </span>
                        }
                    </label>
                    
                    <label class="contactform-section" for="email"
                        (mouseenter)="triggerShake('email')"
                        (mouseleave)="triggerOffShake('email')">
                        <h2 class="green">{{ t.whatsYourEmail }}</h2>
                        <input 
                            #email="ngModel" 
                            [(ngModel)]="contactData.email" 
                            id="email" 
                            name="email" 
                            type="text" 
                            placeholder="{{ t.emailPlaceholder }}" 
                            required 
                            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                            [style.display]="showEmailInput ? 'block' : 'none'"
                            [class.shake]="shakeEmail"
                        >
                
                        @if (!email.valid && !email.disabled && formSubmitted && !showEmailInput) {
                            <span class="warning red" (click)="showEmailInput = true">
                                {{ t.emailWarning }}
                            </span>
                        }
                    </label>
                    
                    <label class="contactform-section" for="message" 
                        (mouseenter)="triggerShake('message')"
                        (mouseleave)="triggerOffShake('message')">
                        <h2 class="green">{{ t.howCanIHelp }}</h2>
                        <textarea 
                            #message="ngModel" 
                            minlength="4" 
                            [(ngModel)]="contactData.message" 
                            name="message" 
                            id="message" 
                            placeholder="{{ t.messagePlaceholder }}" 
                            required
                            [style.display]="showMessageInput ? 'block' : 'none'"
                            [class.shake]="shakeMessage"
                        >
                        </textarea>
                        
                        @if (!message.valid && !message.disabled && formSubmitted && !showMessageInput) {
                            <span class="warning red" (click)="showMessageInput = true">
                                {{ t.messageWarning }}
                            </span>
                        }
                    </label>
                </div>
                
                <div class="contact-submit">
                    <div class="checkbox-container">
                        <label class="checkbox-label">
                            <input id="checkbox" type="checkbox" #policyNgModel="ngModel" [(ngModel)]="policyAccepted" name="policyAccepted" required autocomplete="off">
                            <span class="custom-checkbox"></span>
                            <span class="policy">
                                {{ t.privacyPolicy1 }}
                                <a routerLink='privacy-policy' class='policy-link green' style='text-decoration: none;'>{{ t.privacyPolicy }}</a>
                                {{ t.privacyPolicy2 }}
                            </span>
                        </label>
                        <div class="policy-warning-box">
                            @if (policyNgModel.touched && !policyNgModel.valid) {
                                <span class="policy-warning red">
                                    {{ t.acceptPolicyWarning }}
                                </span>
                            }
                        </div>
                    </div>
                    
                    <div class="btn-box">
                        <app-slide-btn input id="submit-btn" type="submit" value="Submit" text="{{ t.submitBtn }}" [disabled]="!policyAccepted"></app-slide-btn> 
                    </div>
                </div>
              
            </form>
        </div>
    </div>
</div>