$green: #3DCFB6;
$dark-green: #08463B;
$dark-grey: #1C1C1C;
$white: #FFFFFF;

.red {
    color: #d47676;
    font-size: 18px;
}

.contact-container {
    padding-left: 96px;
    padding-right: 96px;
    display: flex;
    gap: 48px;
}

h1, h2, h3, label, .green {
    margin: 0;
    color: $green;
}

h1, h3, label {
    font-family: 'Fira Code', Arial, sans-serif;
}

label {
    font-size: 24px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
}

h1 {
    font-size: 64px;
    font-weight: 700;
    text-wrap: wrap;
    letter-spacing: -3%;
    line-height: 1;
}

.component-intro {
    width: 568px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.component-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.component-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contactform {
    width: 616px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contactform-section {
    padding: 32px;
    border-top: 1px solid rgba(61, 207, 182, 0.5);
    border-bottom: 1px solid rgba(61, 207, 182, 0.5);
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    &:hover {
        border-top: 1px solid rgba(61, 207, 182, 1);
        border-bottom: 1px solid rgba(61, 207, 182, 1);
    }
}

input, textarea {
    background-color: transparent;
    border: none;
    font-family: 'Karla', Arial, sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

input:-webkit-autofill,
textarea:-webkit-autofill {
    background-color: transparent !important;
    -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
    -webkit-text-fill-color: rgba(255, 255, 255, 1) !important;
    transition: background-color 9999s ease-in-out 0s;
}

input:-moz-autofill,
textarea:-moz-autofill {
    background-color: transparent !important;
    color: rgba(255, 255, 255, 1) !important;
}

textarea {
    height: 22px;
}

.contact-submit {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.checkbox-container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.checkbox-label {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Karla', Arial, sans-serif;
    position: relative;
}

.checkbox-label input[type="checkbox"] {
    opacity: 0;
    width: 0px;
    height: 0px;
    position: absolute;
    left: 0;
    top: 0;
}

.custom-checkbox {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border: 2px solid $green;
    border-radius: 2px;
    background-color: transparent;
    display: inline-block;
    position: relative;
    margin-top: 0px;
    transition: border-color 0.2s;
}

.checkbox-label input[type="checkbox"]:valid + .custom-checkbox::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 1px;
    width: 3px;
    height: 8px;
    border: solid $green;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    display: block;
}

.policy {
    position: relative;
    font-size: 15px;
    font-family: 'Karla', Arial, sans-serif;
}

.checkbox-label .green {
    font-family: 'Fira Code', Arial, sans-serif;
    font-weight: 400;
    letter-spacing: -3%;
}

.policy-warning-box {
    height: 17px;
}

.policy-warning {
    position: relative;
}

.btn-box {
    width: 100%;
    display: flex;
    justify-content: center;
}