<div class="menu-container">
    <div class="inner-menu-container">
        <div class="menu">
        
            <div class="language-switch">
                <div (click)="selectLanguage()" class="language en active">EN</div>
                <div (click)="selectLanguage()" class="language de">DE</div>
            </div>
            <a href="">About me</a>
            <a href="">Skills</a>
            <a href="">Projects</a>
        </div>
        
        <div class="logo">CH</div>
    </div>
    
</div>
