<div class="menu-container">
    <div class="inner-menu-container">
        <div class="menu">
        
            <div class="language-switch">
                <div (click)="selectLanguage('en')" class="language en" [class.active]="selectedLanguage === 'en'">EN</div>
                <div (click)="selectLanguage('de')" class="language de" [class.active]="selectedLanguage === 'de'">DE</div>
            </div>
            <a href="">About me</a>
            <a href="">Skills</a>
            <a href="">Projects</a>
        </div>
        
        <div class="logo">
            <div class="initials">CH</div>
            <div class="name">Carla <br> Hoffmann</div>
        </div>
    </div>
    
</div>
