.green {
    color: #3BCFB6;
}

a {
    text-decoration: none;
}

.skill-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 96px;
    padding-right: 96px;
    padding-bottom: 160px;
    box-sizing: border-box;

    
  // Radial Gradient am linken Rand
  background: radial-gradient(
    circle 360px at -10px 50%,
    // circle at -10% 50%,
    // Mittelpunkt liegt leicht außerhalb des linken Rands, vertikal mittig
    rgba(8, 70, 59, 0.3) 0%,
    // Startfarbe
    rgba(8, 70, 59, 0.3) 60%,
    // Bis 30% voll sichtbar
    transparent 100% // Dann weich auslaufend
  );
}

.inner-skill-container {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
}

.tech-container {
    width: 100%;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

h2 {
    margin: 0;
    color: #3BCFB6;
    font-size: 24px;
}

.text-box {
    max-width: 520px;
    border: 2px solid #3BCFB6;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 32px;
    background-color: rgba(59, 207, 182, 0.1);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

h1 {
    margin: 0;
    color: #3BCFB6;
    font-family: 'Fira Code', Arial, sans-serif;
    font-size: 64px;
    // font-weight: 700;
    letter-spacing: -3%;
    line-height: 1;
}

.info-box {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.info {
    font-size: 18px;
    text-align: justify;
}

.text-component {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

h3 {
    margin: 0;
    font-family: 'Fira Code', Arial, sans-serif;
    font-size: 24px;
}

.text {
    text-wrap: balance;
}

.tech-icon-container {
    width: 632px;
}

.inner-tech-icon-container {
    width: 100%;
    // position: relative;
    top: 48px;
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}

.tech {
    width: 104px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    &:hover img {
        transform: scale(1.1); 
    }
}

.tech.has-description:hover span {
    color: #3BCFB6; 
  }

img {
    transition: transform 0.1s cubic-bezier(0.8, 0, 1, 1);
}

.tech span {
    text-align: center;
    height: 44px;
    font-family: 'Fira Code', Arial, sans-serif;
    font-size: 18px;
}

.tech-image-wrapper {
    position: relative;
}

.tech-dialog {
    position: absolute;
    top: -100%; // unterhalb des Bildes, ggf. anpassen
    left: 106%;
    transform: translateX(-50%);
    background: #fff;
    color: #3BCFB6;
    padding: 0.5rem 1rem;
    border-radius: 16px;
    box-shadow: 0 4px 24px rgba(0,0,0,0.15);
    white-space: pre-line;
    z-index: 10;
    margin-top: 8px;
    min-width: 120px;
    text-align: center;
    
    &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 30%;
        transform: translateX(-50%);
        width: 32px;
        height: 18px;
        background: url('data:image/svg+xml;utf8,<svg width="32" height="18" viewBox="0 0 32 18" xmlns="http://www.w3.org/2000/svg"><path d="M 0 0 L 9 12 C 11 13 11 13 13 12 L 22 0 L 0 0" fill="white"/></svg>') no-repeat center/contain;
        pointer-events: none;
        z-index: 1;
    }
}

@media(max-width: 1420px) {
    .inner-skill-container {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .text-box {
        max-width: 568px;
    }

    .tech-icon-container {
        max-width: 568px;
    }

    .inner-tech-icon-container {
        width: fit-content;
        gap: 40px;
    }
}

@media(max-width: 800px) {
    .skill-container {
        padding-left: 16px;
        padding-right: 16px;
        padding-bottom: 80px;
    }

    h2 {
        font-size: 18px;
      }
  
      h1 {
        font-size: 56px;
      }

    .tech-icon-container {
        width: 100%;
    }

    .inner-tech-icon-container {
        width: fit-content;
        gap: 16px;
    }
}