<div class="tech-container">
    <div class="inner-tech-container">

        <div class="text-container">
            <span>Technologies</span>

            <div class="text-box">
                <h1>Skill Set</h1>

                <div class="info-box">
                    <div class="info">A short introduction of your skills. Highlight your experience of  using different front-end technologies and emphasise your openness to learning and adapting to new technologies. Show how important it is for you to keep up with the rapid changes in web development.</div>
                    
                    <div class="text-component">
                        <h3>You need <span>another skill?</span></h3>
                        <div class="text">
                            Where are you based? Would you be open to working remotely or potentially relocating?
                        </div>
                    </div>
                </div>

                <app-slide-btn text="Let's Talk"></app-slide-btn>
            </div>

        </div>

        <div>
            <app-tech></app-tech>
            <!-- @for (item of tech; track $index) {} -->
        </div>
    </div>
</div>
