.tech-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 96px;
    padding-right: 96px;
    padding-bottom: 96px;
    box-sizing: border-box;
}

.inner-tech-container {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
}

.tech-container {
    width: 100%;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.text-container span {
    color: #3BCFB6;
    font-size: 24px;
}

.text-box {
    width: 568px;
    border: 2px solid #3BCFB6;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 32px;
    background-color: rgba(59, 207, 182, 0.1);
    display: flex;
    flex-direction: column;
    gap: 40px;
}

h1 {
    margin: 0;
    color: #3BCFB6;
    font-family: 'Fira Code', Arial, sans-serif;
    font-size: 64px;
    font-weight: 700;
}

.info-box {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.info {
    text-align: justify;
}

.text-component {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

h3 {
    margin: 0;
    font-family: 'Fira Code', Arial, sans-serif;
    font-size: 24px;
}