h1, h2, h3, h4, p {
    margin: 0;
}

h1 {
    font-size: 64px;
    color: #3DCFB6;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 24px;
}

.privacy-section p {
    font-size: 18px;
}

.privacy-policy-page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    
}

.privacy-policy-content {
    width: 100%;
    min-height: 100vh;
    background-color: #1C1C1C;
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}

.privacy-policy-container {
    width: 100%;
    max-width: 1440px;
    min-height: 100%;
    padding: 24px 96px;
    box-sizing: border-box;
}

.privacy-policy {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.back {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 18px;
    cursor: pointer;
    &:hover {
        color: #3DCFB6;
    }
}

.back img {
    filter: brightness(0) saturate(100%) invert(70%) sepia(67%) saturate(372%)
      hue-rotate(116deg) brightness(110%) contrast(100%);
    transition: filter 0.3s ease, transform 0.3s cubic-bezier(0.33, 1, 1, 1); /* easeOut timing für abruptes Ende */
}
  
.back:hover img {
    transform: translate(-4px, 0px) scale(1.08);
}

.privacy-policy-text {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.privacy-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer a {
    color: #3dcfb7;
}

@media(max-width: 800px) {
    .privacy-policy-container {
        padding: 24px 16px;
    }
}