<div class="legal-notice-page">
    <div class="legal-notice-container">
        <div class="legal-notice">
            <a class="back" href="#">
                <img src="./assets/icons/arrow-left.svg" alt="">
                Back
            </a>
            

            <h1>Legal notice</h1>
            <div class="legal-notice-content">
                <h2>Imprint</h2>

                <div class="imprint-section">
                    <h3>Provider</h3>
                    <p>
                        Carla Hoffmann <br>
                        Dürerstr. 20 <br>
                        09126 Chemnitz
                    </p>
                </div>
                
    
                <div class="imprint-section">
                    <h3>Contact us</h3>
                    <p>
                        Email: carlahoffmann&#64;gmx.de<br>
                        Phone: 015125626836
                    </p>
                </div>
                
                <div class="imprint-section">
                    <h3>Disclaimer</h3>
                    <p>We are responsible for the content of our website in accordance 
                        with the provisions of general law. All content is created with due 
                        care and to the best of our knowledge. 
                        Insofar as we refer to third-party websites on our Internet pages by 
                        means of hyperlinks, we cannot assume any liability for the continued 
                        topicality, correctness and completeness of the linked content, as this 
                        content is outside our area of responsibility and we have no influence on 
                        its future design. Should you consider any content to be in breach of 
                        applicable law or inappropriate, please let us know.
                        The legal information on this page as well as all questions and disputes 
                        in connection with the design of this website are subject to the laws of 
                        the Federal Republic of Germany.</p>
                </div>
                
                <div class="imprint-section">
                    <h3>Copyright notice</h3>
                    <p>The texts, images, photos, videos or graphics available on our website are 
                        generally subject to copyright protection. Any unauthorized use (especially 
                        copying, editing or distribution) of this copyright-protected content is 
                        therefore prohibited. If you intend to use this content or parts thereof, 
                        please contact us in advance using the details above. If we are not the owner 
                        of the required copyrighted rights of use ourselves, we will endeavor to 
                        arrange contact with the entitled party.</p>
    
                </div>
                
                <p>Date: June 04, 2025</p>
                
                <div class="foot">
                    <p>Created with the kind support of <a href="https://www.dieter-datenschutz.de/?_gl=1*3cdztl*_ga*MTIxMzE0OTgzOC4xNzQ5MDM1ODcx*_ga_7CBXCBBGR5*czE3NDkwMzU4NzAkbzEkZzEkdDE3NDkwMzU5OTQkajgkbDAkaDA.*_gcl_au*NzI0MTU2Mi4xNzQ5MDM1ODcxLjE1NTcxMDMxMzMuMTc0OTAzNTk1Mi4xNzQ5MDM1OTUy"> Dieter does data protection</a></p>
                
                    <p>"Dieter macht den Datenschutz" is a product of simply Legal GmbH, Burkarderstr. 36, D-97082 Würzburg. All rights reserved2025.</p>
                </div>
                
            </div>
        </div>
    </div>
    
</div>
