<div class="menu-container">
    <div class="inner-menu-container">
        <app-logo-initials></app-logo-initials>
        <div class="menu-wrapper">
            <img 
                src="./assets/icons/menu-icon.svg" 
                alt="Open menu" 
                (click)="openMenu()" 
                class="menu-icon"
            />
    
            <!-- Overlay für das Menü, erscheint nur wenn isMenuOpen true ist -->
            @if (isMenuOpen) {
                <div class="menu-overlay" (click)="closeMenu()"></div>
                <div class="menu" (click)="$event.stopPropagation()">
                    <a href="#about-me" (click)="closeMenu()">{{ t.aboutMe }}</a>
                    <a href="#skills" (click)="closeMenu()">{{ t.skills }}</a>
                    <a href="#projects" (click)="closeMenu()">{{ t.projects }}</a>
                    <app-language-switch></app-language-switch>
                </div>
            }
        </div>
    </div>
</div>