.initials {
    font-size: 48px;
    line-height: 0.8;
    font-weight: bold;
    color: #3BCFB6;
    font-family: 'Livvic', Arial, sans-serif;
    line-height: 90%;
    display: flex;
    gap: 4px;

    &:hover {
        color: transparent; 
        -webkit-text-stroke: 1px #3BCFB6; 
        background: none; 
    }
}

.initial {
    display: inline-block;
    transition: transform 0.3s cubic-bezier(0.33, 1, 1, 1);
}

.initial#c {
    transform: rotate(42deg) translateX(-1px) translateY(-10px);
}

.initial#h {
    transform: rotate(0deg) translateX(-6px) translateY(6px);
}